* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body,
html {

    background-color: #FFFFFF;
    font-family: var(--inter-fonts);
}

:root {
    --text-white: white;
    --inter-fonts: "Inter", sans-serif;
    --dark-blue: #1E5AFA;
    --darkest-blue: #000F37;
    --section-text: #575757;
    --light-grey: #9C9EA3;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}

main {
    position: relative;
    overflow: hidden;
}

.shape-ellipse {
    position: absolute;

    top: 0;
    right: 0;
    width: 174px;
    z-index: 999;

}

.shape-rectangle {
    position: absolute;
    top: 0;
    right: 21%;
    width: 1px;
    height: calc(100vh + 115px);

    z-index: 999;

}

.shape-w-circle {
    position: absolute;
    width: 23px;
    top: 2%;
    right: 20.195%;
    z-index: 999;
}

.white-line {
    position: absolute;
    width: 1px;
    height: calc(100vh + 115px);
    top: 0;
    left: 15.5%;
    z-index: 999;
}

.shape-ellipse-blue {
    position: absolute;
    width: 29px;
    z-index: 999;
    top: 5.5%;
    left: 14.5%;
}

.vectorIII {
    position: absolute;
    top: 15%;
    right: 0%;
    height: 1306px;
    /* width: 705px; */
}

.vectorIIII {
    position: absolute;
    top: 72.13%;
    right: -5%;
    /* height: 1306px; */
    width: 705px;
}

.decorator {
    position: absolute;
    width: 174px;
    left: 0;
    top: 17%;
}

.decorator-two {
    position: absolute;
    width: 174px;
    left: 0;
    top: 83%;
}

.decoratorleft {
    position: absolute;
    width: 174px;
    top: 48%;
    right: 0;
}

.home-links {
    position: absolute;
    top: 9%;
    left: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.facebook {
    width: 15px;
    margin: 15px 0;
}

.home-link {
    width: 17px;
    margin: 15px 0;
}






.sectionHeading {
    font-size: 75px;
    font-weight: 800;
    color: #313131;
    text-align: center;
    margin-bottom: 24px;
}

.sectionText {
    font-size: 16px;
    color: var(--section-text);
    display: block;
    width: 44%;
    text-align: center;
    margin: 0 auto;
}

ul {
    margin-bottom: 0;
}

/* NAVBAR */

.navbar {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);

}

.navbar .content {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 30px;
    background-color: var(--dark-blue);
    transform: translateX(-70px);
}

.toggleBtn {
    display: none;
}

.menu {
    display: flex;
}

.menu .menu-item a {
    color: var(--text-white);
    margin-left: 28px;
    font-size: 18px;
    font-weight: 400;
}

.logo a {
    font-weight: bold;
    font-size: 32px;
    color: var(--text-white);
}

.signUp-btn {
    font-weight: 500;
    font-size: 18px;
    background-color: white;
    padding: 11px 32px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.logIn-btn {
    font-weight: 500;
    font-size: 18px;
    background-color: transparent;
    padding: 11px 32px;
    border: none;
    outline: none;
    color: var(--text-white);

}

.menu-button {
    display: none;
}

/* HOME SECTION */

.home {
    background-color: var(--dark-blue);
    color: var(--text-white);
    font-family: var(--inter-fonts);
    height: 100vh;
    width: 100%;
    /* border: 2px solid red; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-content {

    margin-top: -21rem;
    /* transform: translateY(120px); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 2px solid green; */
}


.homeHeading {
    font-size: 85px;
    font-weight: 800;
    width: 56%;
    line-height: 81px;
}


.home-text {
    font-size: 18px;
    font-weight: 300;
    width: 50%;
    margin-top: 21px;
}

.homeHero {
    position: absolute;
    width: 1048px;
    bottom: -46%;
}

.homeDownloads {
    position: absolute;
    bottom: -79%;
    /* transform: translate(-50%, -50%); */
}

.whiteSpace {
    width: 100%;
    height: 69vh;
    background-color: white;
}

/* ABOUT */



.about {
    background-color: white;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.aboutHeading {
    color: #313131;
    font-family: var(--inter-fonts);
}

.about-item-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 80%;
    margin: 0 auto;
}

.about-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: -14rem;
}

.about-item .item-left {
    width: 60%;
    position: relative;
}

.about-item:nth-child(even) .item-right {
    width: 40%;
    transform: translateX(120px);
}

.about-item:nth-child(odd) .item-right {
    width: 40%;
    transform: translateX(-120px);
}

.item-left img {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
}

.item-left::before {
    content: "";
    width: 50%;
    height: 30%;
    background-color: var(--dark-blue);
    position: absolute;
    bottom: 25%;
    left: 24%;
    z-index: 0;
    border-radius: 10px;
}

.about-item-heading {
    font-size: 40px;
    font-weight: 600;
    color: rgb(19, 18, 18);
    font-family: var(--inter-fonts);
    margin-bottom: 13px;
}

.about-item-text {
    font-size: 16px;
    color: var(--section-text);
    line-height: 24px;
    margin-bottom: 13px;
}

.about-btn {
    font-size: 16px;
    background-color: var(--darkest-blue);
    padding: 12px 25px;
    color: var(--text-white);
    border-radius: 4px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.about-btn:hover {
    color: #000F37;
    background-color: transparent;
    border: 2px solid red;
}

.about-white-space {
    height: 33vh;
}


/* clients section */

.clients {
    width: 100%;
    background-color: #FFFFFF;
    padding-top: 2rem;
}


.clients-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.client-text {
    margin-bottom: 30px;
}

.client-item {
    width: 261px;
    margin: -20px;
}


/* TESTTIMONIALS */

.testimonials {
    width: 100%;
    padding-top: 3.5rem;
    /* margin-bottom: 10rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
}

.testimonials-container {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.testimonial-card {
    width: 580px;
    background-color: #E7EBEE;
    height: 273px;
    margin: 0 5px 20px 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 30px;
    border-radius: 10px;
    transition: 0.3s ease;
}

.testimonial-card:hover {
    background-color: #FFFFFF;
    box-shadow: 0 0 15px rgb(211, 206, 206);
}

.testimonial-card .card-text {
    line-height: 25px;
    color: #5F7285;
    margin-bottom: 20px;
}

.testimonial-card .profile {
    display: flex;
    justify-content: center;
    align-items: center;

}

.testimonial-card .profile .profile-pic {
    width: 50px;
    margin-right: 20px;
}

.profile-name {
    font-size: 16px;
    margin-bottom: 5px;
}

.profile-proff {
    color: #9C9EA3;
    font-size: 13px;
}


/* FAQ'S */

.faqs {
    width: 100%;
    /* margin-bottom: 3.5rem; */
    background-color: #FFFFFF;
    padding-top: 10rem;
    z-index: 999;
}

.accordion-container {
    width: 50%;
    margin: 80px auto 0 auto;
    border: none;
}

.accordion-btn {
    margin-bottom: 30px;
    border: 3px solid rgb(209, 204, 204);
    border-radius: 8px;
    background-color: var(--light-grey);
}


.accordion-item {
    border: none;
}

.accordion-panel {
    border: 3px solid rgb(209, 204, 204);
    border-radius: 8px;
    margin-bottom: 30px;
}




/* blue banner */

.blue-banner {
    width: 100%;
    padding-top: 3.5rem;
    background-color: #FFFFFF;

}

.banner {
    width: 1170px;
    height: 300px;
    position: relative;
    background-color: var(--dark-blue);
    color: white;
    margin: 0 auto;
    padding: 60px;
    display: flex;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
}

.banner-img {
    position: absolute;
    bottom: 0;
    right: 2%;
}



.banner-text p {
    width: 60%;
    font-size: 18px;
}

.banner-text h1 {
    font-size: 48px;
}

.banner .banner-btn {
    background-color: transparent;
    border: 3px solid rgb(235, 231, 231);
    border-radius: 8px;
    font-size: 18px;
    color: var(--text-white);
    white-space: nowrap;
    width: 30%;
    padding: 20px 35px;
    /* max-height: 80px; */
}


.footer {
    width: 100%;
    margin: 5rem auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-container {
    width: 90%;
    /* Adjusted width for better responsiveness */
    max-width: 1200px;
    /* Maximum width to avoid stretching on large screens */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* Adjusted min-width */
    grid-gap: 30px;

}

.footer-smart {
    font-size: 24px;
    /* Adjusted for better readability on smaller screens */
    font-weight: bold;
    text-transform: capitalize;
}

.footer-item {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}


.footer-item .footer-item-heading {
    font-size: 18px;
    /* Adjusted for better readability */
    text-transform: uppercase;
    margin-bottom: 20px;
    /* Reduced margin for better spacing on small screens */
}

.footer-item a {
    color: rgb(105, 103, 103);
    margin: 5px 0;
    /* Reduced margin for better spacing */
}

.input-button {
    display: flex;
    flex-direction: column;
    /* Stack input and button vertically */
    gap: 10px;
    /* Space between input and button */
}

.input-button input {
    width: 189px;

    padding: 8px 15px;
    background-color: #FFFFFF;
    outline: none;
    border: 2px solid rgb(185, 181, 181);
    border-radius: 8px;
}

.input-button button {
    width: 100px;

    max-width: 300px;

    font-size: 18px;
    padding: 10px 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    outline: none;
    border: 2px solid rgb(185, 181, 181);
}

.footer-blue {
    width: 100%;
    /* margin: 2rem auto 0 auto; */
    margin-top: 5rem;
    background-color: #000F37;
    color: white;
    padding: 15px 0;
    /* Reduced padding for better spacing */
    text-align: center;
}


/* @media (min-width:1201px) {
    .home {

        height: 91vh;

    }


    .home-links {

        left: 2.5%;

    }

    .homeDownloads {
        bottom: -47%;
    }

    .whiteSpace {

        height: 41vh;

    }

    .about-item-container {


        width: 100%;

    }

    .about-white-space {
        height: 20vh;
    }
} */

@media (max-width: 1200px) {
    .shape-rectangle {

        right: 14.5%;

    }

    .shape-w-circle {


        right: 13.4%;

    }

    .white-line {
        left: 15.5%;
    }

    .shape-ellipse-blue {


        left: 14.3%;
    }

    .navbar .content {

        width: 100%;

        transform: translateX(-66px);
    }

    .home-content {
        margin-top: -13rem;

    }

    .homeHeading {
        font-size: 77px;

        line-height: 75px;
    }

    .homeHero {


        bottom: -58%;
    }

    .whiteSpace {

        height: 74vh;

    }

    .homeDownloads {

        bottom: -95%;

    }

    .about-item-container {

        width: 90%;

    }

    .about-item {

        margin-bottom: -13rem;
    }

    .clients-container {
        width: 100%;

    }

    .client-item {

        margin: -9px;
    }

    .testimonial-card {
        width: 491px;

    }

    .accordion-container {
        width: 67%;

    }

    .banner {
        width: 1027px;

    }
}

@media (max-width: 1024px) {
    .shape-ellipse {
        right: -16px;
        width: 183px;
    }

    .shape-w-circle {
        right: 13.02%;
    }

    .shape-ellipse-blue {
        left: 4.35%;
    }

    .white-line {
        left: 5.5%;
    }

    .shape-rectangle {

        right: 14%;

    }


    .home-link {
        width: 16px;
    }

    .home-links {
        top: 7%;
    }

    .vectorIII {
        position: absolute;
        top: 12%;
        right: 0%;
        height: 886px;

    }

    .decorator {
        width: 143px;
        top: 17%;
    }

    .decoratorleft {
        width: 143px;
    }

    .vectorIIII {

        top: 73.7%;
        right: -34%;


    }

    .decorator-two {
        width: 143px;
        top: 70%;
    }

    .banner-img {

        right: 7%;
        width: 123px;
    }

    .sectionHeading {
        font-size: 55px;
        font-weight: 800;
        color: #313131;
        text-align: center;
        margin-bottom: 30px;
    }

    .sectionText {

        width: 51%;

    }

    .toggleBtn {
        display: block;
        color: white;
        font-size: 30px;
    }

    .menu {
        order: 2;
    }


    .nav-btns {
        display: none;
    }

    .menu-button {
        display: block;

    }

    .navbar .content {
        position: relative;
        width: 100%;
        transform: translateX(0px);
        padding: 0 68px;
    }


    .menu {
        display: none;
    }




    .home-content {
        margin-top: -14rem;
    }

    .homeDownloads {
        bottom: -90%;
    }

    .homeHeading {
        font-size: 63px;
        font-weight: 800;
        width: 56%;
        line-height: 66px;
    }

    .home-text {
        font-size: 17px;

        width: 68%;
        margin-top: 21px;
    }

    .homeHero {
        width: 727px;
        bottom: -41%;
    }

    .about-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* position: relative; */
        margin-bottom: -117px;
    }

    .about-item-heading {
        font-size: 29px;
        font-weight: 600;
        color: rgb(19, 18, 18);
        font-family: var(--inter-fonts);
        margin-bottom: 13px;
    }

    .about-item-text {
        font-size: 13px;
        color: var(--section-text);
        line-height: 19px;
        margin-bottom: 13px;
    }

    .about-btn {
        font-size: 15px;
        background-color: var(--darkest-blue);
        padding: 8px 22px;
        color: var(--text-white);
        border-radius: 4px;
        border: 2px solid transparent;
        transition: all 0.3s ease;
    }

    .about-white-space {
        height: 15vh;
        /* display: none; */
    }

    .about-item:nth-child(even) .item-right {
        width: 41%;
        transform: translateX(75px);
    }

    .about-item:nth-child(odd) .item-right {
        width: 44%;
        transform: translateX(-82px);
    }


    .about-item .item-left {
        width: 76%;
    }



    .accordion-container {
        width: 76%;
        margin: 80px auto 0 auto;
        border: none;
    }

    .accordion-container {
        width: 75%;
        margin: 80px auto 0 auto;
        border: none;
    }


    .banner-text h1 {
        font-size: 36px;
    }

    .banner {
        width: 718px;
        height: 193px;


        padding: 21px;

    }

    .banner-text p {
        width: 71%;
        font-size: 12px;
    }

    .banner .banner-btn {


        font-size: 15px;

        width: 30%;
        padding: 17px 29px;

    }

    .clients-container {
        width: 100%;

    }

    .testimonial-card {

        width: 429px;
        margin: 0px 5px 19px 5px;


    }

}


@media (max-width: 767px) {
    .shape-w-circle {
        width: 20px;
        top: 3%;
        right: 14.79%;
    }

    .shape-rectangle {


        right: 16%;


    }

    .shape-ellipse-blue {
        width: 23px;
        left: 4.9%;
    }

    .shape-ellipse {
        right: -21px;
        width: 140px;
    }

    .white-line {

        left: 6.5%;

    }

    .homeHeading {
        font-size: 63px;
        width: 68%;

    }

    .homeHero {
        width: 575px;
        bottom: -21%;
    }

    .homeDownloads {
        position: absolute;
        bottom: -59%;

        width: 504px;
    }

    .about-item-container {

        width: 88%;

    }

    .about-item {

        justify-content: center;

        flex-direction: column;
        margin-bottom: -41px;

    }


    .about-item:nth-child(2) .item-left {
        order: 1;
    }

    .about-item:nth-child(2) .item-right {
        order: 2;
        width: 100%;

        transform: translateX(0px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .about-item .item-left {
        width: 100%;
        margin-bottom: -3rem;


    }

    .about-item:nth-child(odd) .item-right {
        width: 100%;
        transform: translateX(0px);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .clients-container {
        width: 100%;

    }


    .banner {
        width: 560px;


    }

    .banner-text h1 {
        font-size: 32px;
    }

    .banner-text p {
        width: 80%;
        font-size: 12px;
    }

    .testimonial-card {
        width: 466px;

    }








}


/* @media (max-width: 576px) {
    .sectionText {
        width: 71%;
        font-size: 13px;
    }

    .navbar .content {
        position: relative;
        width: 100%;
        transform: translateX(0px);
        padding: 0px 21px;
    }

    .toggleBtn {
        display: block;
        color: white;
        font-size: 26px;
    }

    .logo a {
        font-weight: bold;
        font-size: 29px;
        color: var(--text-white);
    }

    .home-content {
        margin-top: -16rem;


    }

    .homeHeading {
        font-size: 45px;
        width: 68%;
        line-height: 46px;
    }

    .homeHero {
        width: 510px;
        bottom: -23%;
    }

    .homeDownloads {
        bottom: -59%;
        width: 449px;
    }

    .home-text {
        font-size: 13px;
        width: 77%;
        margin-top: 17px;
    }

    .whiteSpace {
        width: 100%;
        height: 51vh;
        background-color: white;
    }

    .banner {
        width: 531px;
        height: 193px;
        padding: 13px;
    }

    .banner-text h1 {
        font-size: 27px;
    }

    .banner-text p {

        font-size: 11px;
    }

    .banner .banner-btn {

        font-size: 15px;

        padding: 12px 27px;
    }

    .banner {
        width: 404px;
        height: 167px;
        padding: 11px;
    }

    .banner-text h1 {
        font-size: 20px;
    }

    .banner-text p {

        font-size: 12px;
    }

    .banner .banner-btn {
        font-size: 15px;
        padding: 10px 9px;
    }

    .testimonial-card {

        width: 453px;
    }
} */

@media (max-width:480px) {
    .home-links {
        display: none;
    }

    .vectorIII {
        position: absolute;
        top: 11%;
        right: -23%;
        height: 801px;
    }

    .decorator {
        width: 83px;
        top: 20%;
    }

    .decoratorleft {
        width: 83px;
    }

    .decorator-two {
        width: 83px;
        top: 70%;
        z-index: 0;
    }

    .vectorIIII {
        top: 73.7%;
        right: -34%;
    }

    .shape-w-circle {
        width: 14px;
        top: 3%;
        right: 2.69%;
    }

    .shape-rectangle {
        right: 4%;
    }

    .shape-ellipse {
        right: -12px;
        width: 103px;
    }

    .shape-ellipse-blue {
        width: 17px;
        left: 2.87%;
        top: 5%;
    }

    .white-line {
        left: 4.5%;
    }

    .sectionText {
        width: 89%;
        font-size: 13px;
    }

    .home {

        height: 65vh;


    }

    .homeHeading {
        font-size: 32px;
        width: 100%;
        line-height: 35px;
    }

    .home-text {
        font-size: 12px;
        width: 77%;
        margin-top: 17px;
    }

    .homeHero {
        width: 317px;
        bottom: -23%;
    }

    .home-content {
        margin-top: -10rem;
    }

    .whiteSpace {
        width: 100%;
        height: 33vh;
        background-color: white;
    }

    .sectionHeading {
        font-size: 43px;
        font-weight: 800;
        color: #313131;
        text-align: center;
        margin-bottom: 30px;
    }

    .homeDownloads {
        bottom: -62%;
        width: 300px;
    }

    .banner {
        width: 300px;
        height: 170px;
        padding: 27px 5px;
        flex-direction: column;
    }

    .banner-text h1 {
        font-size: 20px;
    }

    .banner-text p {
        width: 100%;
        font-size: 12px;
    }

    .banner .banner-btn {
        font-size: 15px;
        width: 49%;
        padding: 17px 29px;
    }

    .about-item-heading {
        font-size: 25px;

    }

    .about-item-text {
        font-size: 12px;

    }

    .about-btn {
        font-size: 14px;

        padding: 7px 20px;

    }


    .testimonials {
        width: 100%;
        padding-top: 3.5rem;


    }

    .testimonial-card {
        width: 310px;
        margin: 0px 0px 20px 0px;
        padding: 0 10px;

    }

    .testimonial-card .card-text {

        font-size: 15px;
    }

    .client-item {
        width: 208px;
        margin: -20px;
    }

    .faqs {
        width: 100%;
        /* margin-bottom: 3.5rem; */
        background-color: #FFFFFF;
        padding-top: 7rem;
    }

    .accordion-container {
        width: 94%;
        margin: 47px auto 0 auto;

    }


    .banner {
        width: 313px;
        height: 170px;
        padding: 27px 5px;
        flex-direction: column;
    }

    .banner-text h1 {

        text-align: center;
    }

    .banner-text p {
        width: 100%;

        text-align: center;
    }

    .banner .banner-btn {
        font-size: 15px;
        width: 44%;
        padding: 6px 10px;
    }

    .footer-blue {

        font-size: 12px;
    }

    .footer-smart p {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 14px;

    }

    .input-button button {

        font-size: 15px;

    }

    .footer-item .footer-item-heading {
        font-size: 15px;

        margin-bottom: 17px;
    }

    .footer-item a {

        font-size: 13px;
    }
}