* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body,
html {

    background-color: #FFFFFF;
    font-family: var(--inter-fonts);
}

:root {
    --text-white: white;
    --inter-fonts: "Inter", sans-serif;
    --dark-blue: #1E5AFA;
    --darkest-blue: #000F37;
    --section-text: rgb(73, 72, 72);
    --light-grey: #E7EBEE;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}




.sectionHeading {
    font-size: 75px;
    font-weight: 800;
    color: #313131;
    text-align: center;
    margin-bottom: 30px;
}

.sectionText {
    font-size: 16px;
    color: var(--section-text);
    display: block;
    width: 44%;
    text-align: center;
    margin: 0 auto;
}

ul {
    margin-bottom: 0;
}

/* NAVBAR */

.navbar {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);

}

.navbar .content {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 30px;
    background-color: var(--dark-blue);
    transform: translateX(-70px);
}

.toggleBtn {
    display: none;
}

.menu {
    display: flex;
}

.menu .menu-item a {
    color: var(--text-white);
    margin-left: 28px;
    font-size: 18px;
    font-weight: 400;
}

.logo a {
    font-weight: bold;
    font-size: 32px;
    color: var(--text-white);
}

.signUp-btn {
    font-weight: 500;
    font-size: 18px;
    background-color: white;
    padding: 11px 32px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.logIn-btn {
    font-weight: 500;
    font-size: 18px;
    background-color: transparent;
    padding: 11px 32px;
    border: none;
    outline: none;
    color: var(--text-white);

}

.menu-button {
    display: none;
}

/* HOME SECTION */

.home {
    background-color: var(--dark-blue);
    color: var(--text-white);
    font-family: var(--inter-fonts);
    height: 100vh;
    width: 100%;
    /* border: 2px solid red; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-content {

    margin-top: -21rem;
    /* transform: translateY(120px); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 2px solid green; */
}


.homeHeading {
    font-size: 85px;
    font-weight: 800;
    width: 56%;
    line-height: 81px;
}


.home-text {
    font-size: 18px;
    font-weight: 300;
    width: 50%;
    margin-top: 21px;
}

.homeHero {
    position: absolute;
    width: 1048px;
    bottom: -46%;
}

.homeDownloads {
    position: absolute;
    bottom: -79%;
    /* transform: translate(-50%, -50%); */
}

.whiteSpace {
    width: 100%;
    height: 69vh;
    background-color: white;
}

/* ABOUT */



.about {
    /* margin-bottom: 15rem; */
    background-color: white;
    height: 250vh;
    border: 2px solid red;
}

.about-content {
    /* transform: translateY(34rem); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.aboutHeading {
    color: #313131;
    font-family: var(--inter-fonts);
    /* text-align: center; */
}



.about-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -18rem;
}

.about-item .item-left {
    width: 60%;
    position: relative;
    /* Relative positioning for the pseudo-element */
}

.about-item-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* Adds space between the items */
    width: 80%;
    margin: 0 auto;
    /* Centers the container */
}

.about-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /* Necessary for proper positioning adjustments */
}



.about-item:nth-child(even) .item-right {
    width: 40%;
    transform: translateX(120px);
    /* Shift right */
}

.about-item:nth-child(odd) .item-right {
    width: 40%;
    transform: translateX(-120px);
    /* Shift right */
}

.about-item .item-left {
    width: 60%;
}



.item-left img {
    width: 100%;
    display: block;

    position: relative;

    z-index: 1;

}

.item-left::before {
    content: "";
    width: 50%;
    height: 30%;
    background-color: var(--dark-blue);
    position: absolute;
    bottom: 25%;
    left: 24%;
    z-index: 0;
    border-radius: 10px;
    /* Ensures the pseudo-element is beneath the image */
}


.about-item-heading {
    font-size: 40px;
    font-weight: 600;
    color: rgb(19, 18, 18);
    font-family: var(--inter-fonts);
    margin-bottom: 13px;
}



.about-item-text {
    font-size: 16px;
    color: var(--section-text);
    line-height: 24px;
    margin-bottom: 13px;
}

.about-btn {
    font-size: 16px;
    background-color: var(--darkest-blue);
    padding: 12px 25px;
    color: var(--text-white);
    border-radius: 4px;
    border: 2px solid transparent;
    transition: all 0.3s ease;

}



.about-btn:hover {
    color: #000F37 !important;
    background-color: transparent !important;
    border: 2px solid red !important;
}


/* clients section */

.clients {
    width: 100%;
    background-color: #FFFFFF;
    padding-top: 2rem;
}


.clients-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.client-text {
    margin-bottom: 30px;
}

.client-item {
    width: 261px;
    margin: -20px;
}


/* TESTTIMONIALS */

.testimonials {
    width: 100%;
    padding-top: 3.5rem;
    /* margin-bottom: 10rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
}

.testimonials-container {
    width: 90%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.testimonial-card {
    width: 580px;
    background-color: var("--light-grey");
    height: 273px;
    margin: 0 5px 20px 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 30px;
    border-radius: 10px;
    transition: 0.3s ease;
}

.testimonial-card:hover {
    background-color: #FFFFFF;
    box-shadow: 0 0 15px rgb(211, 206, 206);
}

.testimonial-card .card-text {
    line-height: 25px;
    color: #5F7285;
    margin-bottom: 20px;
}

.testimonial-card .profile {
    display: flex;
    justify-content: center;
    align-items: center;

}

.testimonial-card .profile .profile-pic {
    width: 50px;
    margin-right: 20px;
}

.profile-name {
    font-size: 16px;
    margin-bottom: 5px;
}

.profile-proff {
    color: #9C9EA3;
    font-size: 13px;
}


/* FAQ'S */

.faqs {
    width: 100%;
    /* margin-bottom: 3.5rem; */
    background-color: #FFFFFF;
    padding-top: 10rem;

}

.accordion-container {
    width: 50%;
    margin: 80px auto 0 auto;
    border: none;
}

.accordion-btn {
    margin-bottom: 30px;
    border: 3px solid rgb(209, 204, 204);
    border-radius: 8px;
    background-color: var(--light-grey);
}


.accordion-item {
    border: none;
}

.accordion-panel {
    border: 3px solid rgb(209, 204, 204);
    border-radius: 8px;
    margin-bottom: 30px;
}




/* blue banner */

.blue-banner {
    width: 100%;
    padding-top: 3.5rem;
    background-color: #FFFFFF;

}

.banner {
    width: 1170px;
    height: 300px;
    /* height: 100px; */
    background-color: var(--dark-blue);
    color: white;
    margin: 0 auto;
    padding: 60px;
    display: flex;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
}

.banner-text p {
    width: 60%;
    font-size: 18px;
}

.banner-text h1 {
    font-size: 48px;
}

.banner .banner-btn {
    background-color: transparent;
    border: 3px solid rgb(235, 231, 231);
    border-radius: 8px;
    font-size: 18px;
    color: var(--text-white);
    white-space: nowrap;
    width: 30%;
    padding: 20px 35px;
    /* max-height: 80px; */
}


.footer {
    width: 100%;
    margin: 5rem auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-container {
    width: 90%;
    /* Adjusted width for better responsiveness */
    max-width: 1200px;
    /* Maximum width to avoid stretching on large screens */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* Adjusted min-width */
    grid-gap: 30px;

}

.footer-smart {
    font-size: 24px;
    /* Adjusted for better readability on smaller screens */
    font-weight: bold;
    text-transform: capitalize;
}

.footer-item {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}


.footer-item .footer-item-heading {
    font-size: 18px;
    /* Adjusted for better readability */
    text-transform: uppercase;
    margin-bottom: 20px;
    /* Reduced margin for better spacing on small screens */
}

.footer-item a {
    color: rgb(105, 103, 103);
    margin: 5px 0;
    /* Reduced margin for better spacing */
}

.input-button {
    display: flex;
    flex-direction: column;
    /* Stack input and button vertically */
    gap: 10px;
    /* Space between input and button */
}

.input-button input {
    width: 189px;

    padding: 8px 15px;
    background-color: #FFFFFF;
    outline: none;
    border: 2px solid rgb(185, 181, 181);
    border-radius: 8px;
}

.input-button button {
    width: 100px;

    max-width: 300px;

    font-size: 18px;
    padding: 10px 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    outline: none;
    border: 2px solid rgb(185, 181, 181);
}

.footer-blue {
    width: 100%;
    /* margin: 2rem auto 0 auto; */
    margin-top: 5rem;
    background-color: #000F37;
    color: white;
    padding: 15px 0;
    /* Reduced padding for better spacing */
    text-align: center;
}


@media (max-width: 991px) {

    .sectionHeading {
        font-size: 68px;
        font-weight: 800;
        color: #313131;
        text-align: center;
        margin-bottom: 30px;
    }

    .toggleBtn {
        display: block;
        color: white;
        font-size: 30px;
    }

    .menu {
        order: 2;
    }


    .nav-btns {
        display: none;
    }

    .menu-button {
        display: block;

    }

    .navbar .content {
        position: relative;
        width: 100%;
        transform: translateX(0px);
        padding: 0 68px;
    }


    .menu {
        display: none;
    }


    .homeHeading {
        font-size: 63px;
        font-weight: 800;
        width: 56%;
        line-height: 66px;
    }

    .home-text {
        font-size: 17px;

        width: 68%;
        margin-top: 21px;
    }

    .homeHero {

        width: 769px;
        bottom: -33%;
    }

    .accordion-container {
        width: 76%;
        margin: 80px auto 0 auto;
        border: none;
    }

    .accordion-container {
        width: 75%;
        margin: 80px auto 0 auto;
        border: none;
    }


    .banner-text h1 {
        font-size: 36px;
    }

    .banner {
        width: 718px;
        height: 193px;


        padding: 21px;

    }

    .banner-text p {
        width: 71%;
        font-size: 12px;
    }

    .banner .banner-btn {


        font-size: 15px;

        width: 30%;
        padding: 17px 29px;

    }

}


@media (max-width: 767px) {

    .homeHeading {
        font-size: 63px;
        width: 68%;

    }

    .homeHero {
        width: 575px;
        bottom: -21%;
    }

    .homeDownloads {
        position: absolute;
        bottom: -59%;

        width: 504px;
    }
}


@media (max-width: 576px) {


    .navbar .content {
        position: relative;
        width: 100%;
        transform: translateX(0px);
        padding: 0px 21px;
    }

    .toggleBtn {
        display: block;
        color: white;
        font-size: 26px;
    }

    .logo a {
        font-weight: bold;
        font-size: 29px;
        color: var(--text-white);
    }

    .home-content {
        margin-top: -16rem;


    }

    .homeHeading {
        font-size: 45px;
        width: 68%;
        line-height: 46px;
    }

    .homeHero {
        width: 510px;
        bottom: -23%;
    }

    .homeDownloads {
        bottom: -59%;
        width: 449px;
    }

    .home-text {
        font-size: 13px;
        width: 77%;
        margin-top: 17px;
    }

    .whiteSpace {
        width: 100%;
        height: 51vh;
        background-color: white;
    }

    .banner {
        width: 531px;
        height: 193px;
        padding: 13px;
    }

    .banner-text h1 {
        font-size: 27px;
    }

    .banner-text p {

        font-size: 11px;
    }

    .banner .banner-btn {

        font-size: 15px;

        padding: 12px 27px;
    }

    .banner {
        width: 404px;
        height: 167px;
        padding: 11px;
    }

    .banner-text h1 {
        font-size: 20px;
    }

    .banner-text p {

        font-size: 12px;
    }

    .banner .banner-btn {
        font-size: 15px;
        padding: 10px 9px;
    }
}